body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
}

a {
	color:red;
}


.item video {
	width:100%;
	display:block;
}

.w1of1 {
	width:100%;
}

.w1of2 {
	width:50%;
}

.w2of2 {
	width:100%;
}

.w1of4 {
	width:25%;
}

.w2of4 {
	width:50%;
}

.w3of4 {
	width:75%;
}

.w4of4 {
	width:100%;
}

.w1of3 {
	width:33.33%;
}

.w2of3 {
	width:66.66%;
}

.w3of3 {
	width:100%;
}




.header {
	position:absolute;
}

.title {
	position:absolute;
	width:100%;
}


.white {
	display:block;
	position:absolute;
	top:50px;
	right:20px;
}


.one {
	display:block;
	position:absolute;
	top:350px;
	left:10px;
}

.drone img {
	display:absolute;
	margin-top:330px;
	margin-left:520px;
	width:300px;
	height:300px;
}


.cyan {
	display:block;
	width:100%;
	background-color:black;
	margin-right:2px;
}

.drone img {
	position:absolute;

}



.yellow {
	display:block;
	width:100%;
	position: absolute;
	background-color:black;
}

.cross {
position:absolute;
top:1450px;
left:100px;
}




.hello {
	display:block;
	position:absolute;
	top:10px;
	right:10px;
}

.three {
	display:block;
	position:absolute;
	top:850px;
	left:10px;
}











