body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
}

a {
	color:red;
}

.menu {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1;
  cursor: pointer;
}

.menu img {
	width:200px;
	height:200px;
	left:100px;
}

.menu:hover {
  background-color: grey;
}

.close {
  width: 75px;
  height: 75px;
  background-color: black;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 3;
  cursor: pointer;
  display: none;
}

.close.show {
  display: block;
}

.close:hover {
  background-color: lightgrey;
}

.essay {
  width: 50%;
  height: 100vh;
  overflow: scroll;
  font-family: arial;
  position: fixed;
  background-color: black;
  color:white;
  right: 0;
  top: 0;
  z-index: 2;
  margin-right: -50%;
  transition: 1s;
}

.essay.slide {
  margin-right: 0;
  transition: 1s;
}

.essay h1 {
  font-size: 60px;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 100px;
  padding:20px;
}

.essay h2 {
  font-size: 35px;
  padding: 20px;
  text-align:center;
}

.essay p {
	font-size:20px;
	text-align:center;
}


.container {
	display:flex;
	flex-wrap:wrap;
}

.item img {
	width:100%;
	display:block;
}

.item video {
	width:100%;
	display:block;
}

.w1of1 {
	width:100%;
}

.w1of2 {
	width:50%;
}

.w2of2 {
	width:100%;
}

.w1of4 {
	width:25%;
}

.w2of4 {
	width:50%;
}

.w3of4 {
	width:75%;
}

.w4of4 {
	width:100%;
}

.w1of3 {
	width:33.33%;
}

.w2of3 {
	width:66.66%;
}

.w3of3 {
	width:100%;
}














/*yellow*/

.yellow img {
	height:50px;
	width:500px;
	position:absolute;
	top:10px;
	right:210px;
}


/*cyan*/

.cyan {
	background-color:black;
}
.item video {
	margin-top:-20px;
}

/*red*/

.red {
	background-color:black;
	font-size:160px;
	color:white;
	text-align:center;
}


/*pink*/

.pink {
	position:absolute;
	margin-left:1000px;
	color:white;
	font-size:20px;
	font-family:courier;
	top:3960px
}

/*hello*/

.hello {
	background-color:black;
}

/*alone*/

.alone img {
	position:absolute;
	padding:10px;
}

/*green*/

.green {
	background-color:black;
}

/*globe*/

.globe img {
	position:absolute;
	width:400px;
	height:400px;
	left:520px;
	top:2650px;
}


/*grey*/

.grey {
	background-color:black;
}



/*white*/

.white {
	background-color:black; 
}

.globe2 img {
	position:absolute;
	width:300px;
	height:300px;
	left:560px;
	top:5290px;
}

/*mecca*/

.mecca {
	background-color:white;
	font-size:20px;
	font-family:courier;
	color:white;
	text-align:center;
	display:block;
}

.mecca img {
	position:absolute;
	width:300px;
	height:200px;
	top:6300px;
	left:20px;
}

/*credit*/

.credit {
	padding:8px;
	background-color:black;
}









